.post-wrap
  .categories-card
    margin 0 auto
    margin-top 1em
    display flex
    align-items center
    justify-content space-between
    flex-direction row
    flex-wrap wrap
    padding 0 2.5em
    line-height 1.6em
    .card-item
      text-align left
      width 40%
      display flex
      align-items flex-start
      margin-top 2em
      min-height 16em
      padding 0 2%
      position relative
      .categories
        overflow hidden
