//@font-face
//  font-family Arial
//  font-style normal
//  font-weight normal

html
  font-family $font-family
  &::-webkit-scrollbar
    width 8px
    height 8px

  &::-webkit-scrollbar-thumb
    height 40px
    background-color #eee
    border-radius 16px
    &:hover
      background-color #ddd

body
  font-size 16px
  font-weight normal
  line-height 2em
  background-color $light-background-color
  color $light-font-color
  transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease

  &:before
    content ""
    background-repeat no-repeat
    background-position center
    opacity 0.05
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index -1

  &.dark-theme
    background-color $dark-background-color
    color $dark-font-color
    transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease

a
  color $light-global-link-color
  text-decoration none
  transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease
  cursor pointer

  &:hover
    color $light-global-link-hover-color
    text-decoration none
    transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease

  .dark-theme &
    color $dark-global-link-color
    text-decoration none
    transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease
    &:hover
      color $dark-global-link-hover-color
      text-decoration none
      transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease
