// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style

.post-content
  a
    color $custom-global-link-color

    &:hover
      color $dark-post-table-background-color

.comments
  margin: 50px 30px;
  padding: 10px;

  .v .vlist .vcard .vh .vtime
  .dark-theme &
    color #555

  .v .vlist .vcard .vhead .vsys
    .dark-theme &
      color #000000

  .v *
    .dark-theme &
      color #b3b3b3


@media screen and (max-width: 800px)
  .comments
    margin: auto;
    padding: 10px;




