<footer id="footer" class="footer">
    <div class="copyright">
        <span>© 2021 <%= config.author %> | Avatar Design by <a
                    href="https://weibo.com/u/1637488382">KE</a> | Powered by <a href="https://hexo.io"
                                                                                  target="_blank">Hexo</a> & <a
                    href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a></span>
    </div>
</footer>
